<div >
  <ul class="hexgrid">

    <div class="borde">
      <li class="hexagon">
        <img class="img" src="assets\img\images.png" alt="yo">
      <h2>Acerca de</h2>
      <p>Hola! Soy Paula</p>
      </li>
      </div>

  <div class="borde">
    <li class="hexagon">
    <img class="img" src="assets\img\images (1).png" alt="skill">
    <h2>Skills</h2>
    <p>Tecnologias con las que trabajo</p>
    </li>
    </div>

    <div class="borde">
      <li class="hexagon">
      <img class="img" src="assets\img\Education,_Studying,_University,_Alumni_-_icon.png" alt="Edu">
      <h2>Educacion</h2>
      <p>¿Donde estudie?</p>
      </li>
      </div>

      <div class="borde">
        <li class="hexagon">
          <img class="img" src="assets\img\360_F_251670796_uldt5Z4Od04dCE4hYAsUxbbwNnl0Own9.jpg" alt="work">
        <h2>Experiencia</h2>
        <p>Conoce donde trabaje</p>
        </li>
        </div>

        <div class="borde">
          <img class="img" src="assets\img\5956592.png" alt="project">
          <li class="hexagon">
          <h2>Proyectos</h2>
          <p>Conoce que estuve haciendo</p>
          </li>
          </div>


  </ul>



  </div>

